./Data
Data
./Outputs
Outputs
./Results*
Results*
*.avi
*.mp4
*.png
*.jpg
*.cmd
*.ipynb
*.pth
__pycache__/
*.pyc
*.ipynb
*.pt
./Curves
Curves
mmaction2
./mmaction2


!figs/*.png
!figs/*.jpg